<% content_for :title, "Home" %>
<% guest_user do %>
  <h1>Welcome to Critique</h1>
  <p><%= link_to "Sign Up to Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
<% end %>

<% movie_posters do %>
	<% @movies.each do |movie| %>
		<%= link_to image_tag( movie.poster_path, class: "thumbnails" ), movie_path(movie.id)%>
	<% end %>
<% end %>

